/* Se utiliza un selector universal para 
remover cualquier estilo anterior de los elementos  */
* {
	border: none;
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
 }

/* Fondo y diseño del body */ 
html, body {height: 100%;}
 
body {
	background-attachment: fixed;
	background-image: url(../img/Ballons);
	background-repeat: no-repeat;
	background-size: cover;
 }
 
.logo {
	background-color: #1DA1F2;
	color: white;
	font-size: 28px;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
 }

 /* Estilos texto estático */
 
.center {
	padding-left: 100px;
 }
 
.text {
	background-color: white;
	float: left;
	height: 260px;
	margin: 12px;
	padding: 10px;
	width: 540px;
 }
  
h2 {
	font-size: 28px;
	margin: 40px 0px 18px 10px;
 }
 
#static p {
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0px 20px 10px;
 }
 
hr {
	border: .5px solid grey;
	width: 100%;
 }
 
a {
	color: #1DA1F2;
	margin-left: 10px;
 }
 
#static img {
	height: 150px;
	margin-left: 350px;
	margin-top: -150px;
	position: absolute;
	width: 150px;
 }
 
/* Estilos texarea y botones */

textarea {
	color: #4E4D53;
	font-size: 20px;
	padding: 1em;
	resize: vertical;
	width: 90%;
 }
 
.text hr {
	border: 1px solid #1DA1F2;
	width: 100%;
 }
 
#btn {
	background-color: #66AEC7;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	height: 35px;
	width: 110px;
 }

	#btn:disabled {
		background-color: #e0dbdb;
 	}
 
	#btn:hover {
		background-color: #5590A6;
 	}
 
/* Estilos contenedor comentarios */
#cont {
	border-radius: 0.4em;
	clear: both;
	color: #4E4D53;
	margin-bottom: 6em;
	margin: 0 auto;
	text-align: left;
	width: 51em;
 }
 
 #count {
	color: #1DA1F2;
	font-size: 20px;
	font-weight: 700;
	margin-left: 500px;
	margin-top: 10px;
 }
	#cont span {
		margin-left: 1em;
	 }
 
	#cont div {
		background-color: #FFF;
		border-radius: 10px;
		margin-bottom: 2em;
		padding: 1em 0.5em;
	 }
 
	#cont p {
		display: block;
		margin: 5px;
	 }
 
 
p {
	display: inline-block;
	margin-left: 0.5em;
 }